.dub
docs.json
__dummy.html
docs/
/libgamestruct
libgamestruct.so
libgamestruct.dylib
libgamestruct.dll
libgamestruct.a
libgamestruct.lib
libgamestruct-test-*
*.exe
*.o
*.obj
*.lst
dub.selections.json
